@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom colors with tailwind classes */

@layer components {
    .text-neon {
        color: #00e676;
    }

    .bg-darker {
        background-color: #1a1a1a;
    }

    .bg-dark {
        background-color: #333333;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}